@font-face {
    font-family: MullerReg;
    src: url(/fonts/MullerNarrow-Light.woff);
}
body{
    display: block;
    box-sizing: border-box;
    width: auto;
    margin: 10px;
}
.first-screen{
    background-image: url(/img/background_1hw.jpg);
    background-repeat: no-repeat;
    background-size: 100% 850px;
    margin: auto;
    height: auto;
    padding: 50px 10% 0 10%;
}
.header{
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    width: 261px;
}
.imgLogo{
    height: 79px;
    width: 79px;
    flex-basis: 25%;
}
.DR{
    font-family: 'Russo One';
    color: #46b1de;
    width: 250px;
    font-size: x-large;
    flex-basis: 75%;
}

.buttons{
    
    display: grid;
    justify-content: center;
}
.buttons, a{
    display: flex;
    height: 50px;
    gap: 10%;
    grid-auto-rows: auto;
    text-decoration: none;
}

.but{
    font-family: MullerReg;
    background-color: hsla(198, 100%, 50%, 0);
    border-color: rgba(0, 255, 255, 0);
    font-size: x-large;
    height: 50px; 
    width: 150px;
}
.phone{
    width: 185px;
    display: flex;
}
.phoneImg {
    flex-basis: 20%;
    width: 38px;
    height: 20px;
    padding-top: 5px;
}
.tel{
    font-family: MullerReg;
    text-decoration: none;
    color: black;
    font-size: x-large;
    flex-basis: 80%;
}
.cont{
    display: block;
    height: 250px;
    width: 500px; 
}
.h1{
    font-family: 'Russo One';
    font-size: 40px;
    text-transform: uppercase;
}
.h1Span{
    color: #46b1de;
}
.but2{
   padding-top: 100px;
    display: flex;
    width: 620px;
    height: 100px;
    justify-content: space-between;
}
.butCall{
    font-family: 'Russo One';
    height: 70px;
    width: 200px;
    background-color: #46b1de;
    border: 1px solid black;
    color: white;
    font-size: 25px;
}
.butServ{
    font-family: 'Russo One';
    border: 1px solid black;
    height: 70px;
    width: 200px;
    color: #46b1de;
    font-size: 25px;
}
.lady{
    width: auto;
    position: absolute;
    z-index: 1;
    top: 229px;
    left: 65%;
}
/* -----SECTION-3-DIVS--------- */
.section7les{
    width: auto;
    display: flex;
    justify-content: center;
}
@media ( max-width: 1500px) {
    .last7{
        width: 1150px;
        height: 100px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 150px;
    }
}
.last7{
    width: 1150px;
    height: 100px;
    display: flex;
    justify-content: center;
    gap: 5%;
    padding-top: 170px;    
}
.icon{
    grid-auto-flow: row;
    display: flex;
    width: 350px;
    height: 110px;
    border: 1px solid black;
    background-color: white;
    z-index: 2; 
    justify-content: center;
    align-items: center;
    text-align: center;
 }
.numIcon{
    font-family: 'Russo One';
    font-weight: bold;
    font-size: 60px;
    color: #46b1de;
    flex-basis: 20%;
    padding: 15px 10px;
}
.textIcon{
    font-size: 20px;
    display: contents;
    width: 100%;
    flex-basis: 80%;
    text-align: left;
    justify-content: center;
}
.textIconText{
    font-family: MullerReg;
    width: 252px;
}
.cont8{
    display: block;
    text-align: center;
}
.cont8TEXT{
    font-size: 40px;
    font-family: 'Russo One';
    margin-bottom: 0;
}
.cont8text{
    margin-top: 0;
    font-family: MullerReg;
    font-size: 25px;

}
/* -----SECTION-3-DIVS-END-------- */
/* -------SECTION-GRID-BLOX--------- */
.sectionGrid{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: auto;
    flex-direction: row;
}
.grid2x3{
    border-radius: 20px;
    width: 90%;
    background-color: #46b1de;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(1, 550px);
    align-items: center;
    justify-items: center;
    justify-content: center;
   

}
@media ( max-width: 1500px) {
    .grid2x3{
        width: 60%;
        background-color:#46b1de;
        display: grid;
        grid-template-columns: repeat(1, 32%);
        grid-template-rows: repeat(3, 500px);
        align-items: center;
        justify-items: center;

    }
}
.double{
    display: grid;
    row-gap: 10%;
    gap: 10%;    
    flex-wrap: wrap;

}
.itemGrid{
    border-radius: 20px;
    display: block;
    border: 1px solid black;
    background-color: white;
    width: 350px;
    height: 200px;
}
.gridIcon{
    display: flex;
    width: 300px;
    justify-content: start;
    align-items: center;
    text-align: start;
    margin: 0;
}
.numGrigIcon{
    font-family: 'Russo One';
    padding: 0 10px;
    font-size: 60px;
    color: #46b1de;
    flex-basis: 30%;
}
.textGridIcon{
    font-family: 'Russo One';
    font-size: 18px;
    color: #46b1de;
    flex-basis: 70%;

}
.textGridIcon1{
    font-size: 18px;
    text-align: start;
    padding-left: 10px;
}
.textGridIconP{
    font-family: MullerReg;     
}
/* ----SECTION-GRID-BLOX-END---- */
.footer{
    background: linear-gradient(to right, #a1c7d4,#0781aa);
    padding-top: 50px;
    margin-top: 150px;
    width: 100%;
    height: auto;
}
.Flogo{
    display: flex;
    width: 300px;
}
.FimgLogo{
    height: 79px;
    width: 79px;
    flex-basis: 25%;
}
.FDR{
    font-family: MullerReg;
    font-weight: bold;
    color: #0f2c4a;
    text-transform: uppercase;
    font-size: xx-large;
    flex-basis: 75%;
}
.Home{
    font-family: MullerReg;
    color: #0f2c4a;
    font-size: 30px;
}
.LengHowBlock{
    display: flex;
    font-family: MullerReg;
    color: #0f2c4a;
    font-size: 30px;
}
.WHD{
    padding-left: 300px;
    font-family: MullerReg;
    color: #0f2c4a;
    font-size: 30px;
    position: relative;
    top: -34px;
}

